* {
  color: white;
  font-family: JetBrains Mono;
  box-sizing: border-box;
}

body {
  background-color: rgb(33, 33, 33);
}

.page-container {
  border: 2px solid red;
  margin: 0px auto;
  height: 100vh;
  width: 80vw;
}

.content-div {
  border: 2px solid yellow;
  padding: 0px 30px;
}

/* navbar & hero div */
.content-div1 {
  background-color: #1f2937;
}

/* nav */

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 30px 0px;
}

.nav p {
  font-size: 24px;
  color: #f9faf8;
  margin: 0px;
}

.nav-items {
  display: flex;
  gap: 45px;
  list-style: none;
  font-size: 18px;
  color: #e5e7eb;
}

/* hero */

.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* styles */
  margin: 30px 0px;
}

.hero-info {
  max-width: 800px;
}

.hero h1,
.hero p {
  margin: 0px;
}

.hero h1 {
  font-size: 48px;
}

.img {
  height: 200px;
  width: 400px;
  border: 2px solid white;
  background-color: gray;
  /* flex */
  display: flex;
  align-items: center;
  justify-content: center;
}

/* information */

.content-div2 {
  background-color: #f0f0f0;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;

  margin: 30px 0px;
}

.info-title h2 {
  margin: 0px;
  color: black;
  font-size: 36px;
}

.boxes {
  width: 130px;
  text-align: center;
}

.boxes p {
  color: #2a2a2a;
  font-size: 16px;
}

.box {
  height: 130px;
  width: 130px;
  border: solid #3882f6 3px;
  border-radius: 15px;
}

.box-div {
  display: flex;
  gap: 40px;
  justify-content: center;
}
